@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nanum+Brush+Script&display=swap');
* {
    font-family: 'Caveat Brush';
}

li {
    list-style: none;
}


/* -----Cover----- */

#cover {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: .5fr 1fr; */
    /* background-image: url("");
    background-repeat: no-repeat;
    background-size: 60rem 90rem;
    background-position: center center; */
    height: auto;
    border-bottom: 1rem solid black;
}

img.resize {
    width: auto;
    /* you can use % */
    height: auto;
}

#buttonsDiv {
    width: auto;
    height: auto;
}

.coverImage {
    padding-top: .5rem;
}

#logo {
    margin-left: 20em;
}

a:link,
a:visited,
a:hover,
a:active {
    cursor: default;
    font-size: 2rem;
    color: #9f4d38;
}

@media all and (max-width: 1030px) and (min-width: 500px) {
    #logo {
        margin-left: 2em;
    }
}


/* -----Photography----- */


/* #photos {
    border-bottom: 1rem solid black;
} */

#photos {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    overflow: hidden;
    border-bottom: 1rem solid black;
    padding-top: 1rem;
    padding-bottom: .6rem;
}

.photo {
    /* flex-shrink: 0; */
    width: 100%;
    max-height: 30em;
}


/* -----Menu------ */

#menuWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    /* background-image: url("Images/Menu/Wood.jpg"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; */
    padding: 5rem;
    font-size: 2.5vh;
}

.entrees,
.sides {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 5 / 8;
    gap: 1rem;
    border: 2px solid black;
}

.menuBox {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border: 2px solid black;
    grid-column: 1 / 3;
}

.title {
    grid-column: 1/ 4;
}

.tenItem {
    display: grid;
    justify-content: center;
    align-items: center;
}

.tenTo {
    grid-column: 1 / 3;
}

.hMenu {
    margin: .5rem;
}

.hDesc {
    margin-top: 0;
    margin-bottom: 2rem;
}

.menuTitle {
    display: grid;
    justify-content: center;
    grid-column: 1 / 3;
}

.divMenu,
.title {
    display: grid;
    justify-content: center;
    align-items: center;
}


/* -----Body----- */

body {
    margin: 0;
}

#footer {
    height: 5rem;
    background-color: beige;
}


/* -----Contact / Location----- */

#contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}