@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Nanum+Brush+Script&display=swap');
* {
    font-family: 'Caveat Brush';
}

li {
    list-style: none;
}

body {
    margin: 0;
}


/* -----Cover----- */

#cover {
    background-image: url("Images/Photos/torchSmoker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border-bottom: 1rem solid black;
}

#logo {
    margin-left: 20em;
    padding-top: .5rem;
}

a:link,
a:visited,
a:hover,
a:active {
    cursor: pointer;
    font-size: 2rem;
    color: #000000;
}

@media all and (max-width: 1030px) and (min-width: 500px) {
    #logo {
        margin-left: 2em;
    }
}


/* -----Photography----- */

#photos {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1rem solid black;
    padding-top: 1rem;
    padding-bottom: .6rem;
}

.photo {
    width: 100%;
    max-height: 30em;
}


/* -----Menu Divs.------------------------------- */


/* Categories & Transitions */

#menuGrid {
    border-bottom: 1rem solid black;
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('Images/Body/woodTwo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #1a1a1a;
    text-shadow: 3px 3px #afafaf73;
}

.menuBox {
    border: #2c0201 solid 1px;
    border-radius: .5rem;
    margin: 2rem;
    height: 30rem;
    width: 30rem;
    display: grid;
    justify-content: center;
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

span {
    font-size: 35px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
}

.child {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.menuBox:hover .child,
.menuBox:focus .child {
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}


/* Div Images & href  */

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

.appetizers {
    background-image: url('Images/Menu/menuApps.jpg');
}

.tenToGetIn {
    background-image: url('Images/Menu/menuTen.jpg');
}

.anteUp {
    background-image: url('Images/Menu/menuAnte.jpg');
}

.desserts {
    background-image: url('Images/Menu/menuDes.jpg');
}

.entree {
    background-image: url('Images/Menu/menuEntree.jpg');
}

.side {
    background-image: url('Images/Menu/menuSides.jpg');
}


/* -----Menu------ */

#menuWrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url('Images/Body/woodTwo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menuDescBox {
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
    border: 2px solid #500000;
    border-radius: 70px;
    color: #9f4d38;
    text-shadow: 1px 1px #f0f8ff;
    text-align: center;
    text-transform: uppercase;
}

.hMenu {
    margin: .5rem;
}

.hDesc {
    margin-top: 0;
    margin-bottom: 2rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-items: center;
    font-size: 1.5rem;
    overflow: hidden;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vvv {
    border-radius: .5rem;
    margin: 2rem;
}

.menuImage {
    border-radius: 30px;
}

.divMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: .5rem;
    margin: 2rem;
    height: 30rem;
    width: 30rem;
}


/* -----Body----- */

#footer {
    height: 5rem;
    background-color: beige;
}


/* -----Contact / Location----- */

#contact {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #f0f8ff;
    margin: 1rem 5rem 3rem 5rem;
}