body {
    margin: 0;
    background-image: url("/images/butcherPaper1.jpg");
}

#navbar {
    text-align: center;
}

h3 {
    margin: 0;
}

#about {
    background-color: beige;
    height: 20rem;
}

#menu {
    height: 50rem;
    background-image: url("images/Menu/spread1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#three {
    height: 20rem;
    background-color: beige;
}

#four {
    height: 20rem;
}

#footer {
    height: 5rem;
    background-color: beige;
}